<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Error Validation Test">
    <classes>
      <class name="LearningTestAutomation.Tests.errorValidation"/>
     
    </classes>
  </test> 
  <test thread-count="5" name="Submition of Order">
	  <classes>
		   <class name="LearningTestAutomation.Tests.submitOrder"/>
	  </classes>
  </test>
  
  <!-- Test -->
</suite> <!-- Suite -->
